<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- URL Rewrite: public/index.php কে ফ্রন্ট কন্ট্রোলার হিসেবে ধরো -->
    <rewrite>
      <rules>
        <!-- (ঐচ্ছিক) TRACE ব্লক -->
        <rule name="BlockHTTPTRACE" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^TRACE" />
          </conditions>
          <action type="CustomResponse" statusCode="405" statusReason="Method Not Allowed" statusDescription="TRACE disabled." />
        </rule>
        <!-- Laravel Front Controller -->
        <rule name="Laravel" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <!-- ডিফল্ট ডকুমেন্টে ডুপ্লিকেট এড়াও -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <!-- IIS-এ ডিটেইল্ড এরর লোকালেই দেখাও, রেসপন্স পাস-থ্রু -->
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough" />
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\barabdonline.xyz\tmp" />
  </system.web>
</configuration>